@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(81, 81, 185);
}
.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
}
.wrapper .form{
    padding: 30px;
}
.wrapper .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(81, 81, 185);
    border-radius: 25px;
    align-items: center;
}
.form .input_field{
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.form .input_field input{
    position: absolute;
    height: 100%;
    width: 70%;
    padding: 0 35px;
    
}
.input_field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: rgb(81, 81, 185);
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a{
    color: rgb(81, 81, 185);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    background-color: rgb(81, 81, 185);
    color: #fff;
    letter-spacing: 1px;
    border-radius: 6px;
    margin-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button .input:hover{
    background-color: rgb(19, 37, 88);
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}