@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --Brightorange: hsl(32, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 0.75);
    --transparentwhite: hsla(0, 0%, 100%, 0.75);
    --verylightgraybackground: hsl(0, 0%, 95%);
}

body {
    background-color: var(--verylightgraybackground);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 960px;
    margin: auto;
}

.first {
    background-color: var(--Brightorange);
    border-bottom-left-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
}

h1 {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 700;
    font-size: 3.0rem;
    font-family: 'Big Shoulders Display', cursive;
    color: var(--verylightgraybackground);
}

.image {
    margin-top: 3rem;
    margin-left: 3rem;
}

P {
    padding-left: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 4rem;
    line-height: 2.5rem;
    color: var(--transparentwhite);
}

h2 {
    margin-left: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.second {
    background-color: var(--Darkcyan);
}

.btn-1 {
    padding-left: 0.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--verylightgraybackground);
    color: var(--Brightorange);
    border: none;
    padding-right: 0.4rem;
    width: 55%;
}

.btn-2 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--verylightgraybackground);
    color: var(--Darkcyan);
    border: none;
    width: 50%;
}

.third {
    background-color: rgb(8, 36, 36);
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.btn-3 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--verylightgraybackground);
    color: var(--verydarkcyan);
    border: none;
    width: 50%;
}

.btn-1:hover {
    background-color: var(--Brightorange);
    color: var(--transparentwhite);
    border: 2px solid var(--transparentwhite);
}

.btn-2:hover {
    background-color: var(--Darkcyan);
    color: var(--transparentwhite);
    border: 2px solid var(--transparentwhite);
}

.btn-3:hover {
    background-color: var(--verydarkcyan);
    color: var(--transparentwhite);
    border: 2px solid var(--transparentwhite);
}
@media screen and (max-width:700px){
    .wrapper {
        display: flex;
        flex-direction: row;
        margin: 3rem;
    }
    
    .first{
        border-top-right-radius: 0.6rem;
        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
    }
    .third{
        background-color: rgb(8, 36, 36);
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
    }
    p{
        line-height: 3.5rem;
        font-size: 2rem;
    }
    h2 {
        margin-left: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .btn-1{
        padding-top: 1.4rem;
        padding-bottom: 1.3rem;
        border-radius: 0rem;
        width: 40%;
        font-size: 1rem;
    }
    .btn-2{
        padding-top: 1.4rem;
        padding-bottom: 1.3rem;
        border-radius: 0rem;
        width: 40%;
        font-size: 1rem;
    }
    .btn-3{
        padding-top: 1.4rem;
        padding-bottom: 1.3rem;
        border-radius: 0rem;
        width: 40%;
        font-size: 1rem;
    }

}